.text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
  margin: 0;
  user-select: text;
}
.end {
  text-align: end;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}

.marginBottom10 {
  margin-bottom: 10px;
}
.marginBottom20 {
  margin-bottom: 20px;
}
.marginBottom0 {
  margin-bottom: 0;
}
