.container {
  text-align: start;
  width: 250px;
  padding: 10px;
  padding-top: 24px;
  border: 1px solid rgb(5, 59, 61);
  background-color: rgb(63, 114, 116);
  color: #fafafa;
  border-radius: 12px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.icon {
  display: inline-block;
  margin-right: 6px;
}
.info {
  display: inline-block;
}
.btnList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.btnOps {
  border: 1px solid black;
  padding: 4px;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  display: block;
  background-color: rgb(39, 129, 138);
}
